*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

.top-header{
    background:#ffffff;
    position:sticky;
    top:0;
    z-index:1000;
    box-shadow:0 2px 8px rgba(0,0,0,0.08);
}

.header-container{
    display:flex;
    align-items:center;
    justify-content:space-between;
    padding:15px 30px;
}

.left-header{
    display:flex;
    align-items:center;
    gap:15px;
}

.logo{
    font-size:24px;
    font-weight:bold;
    padding-right: 7px;
}

.menu-toggle{
    display:none;
    font-size:26px;
    cursor:pointer;
}

.search-box{
    flex:1;
    margin:0 40px;
    position:relative;
    padding-right: 7px;
}

.search-box input{
    width:100%;
    padding:12px 45px 12px 15px;
    border-radius:30px;
    border:1px solid #ddd;
    outline:none;
}

.search-icon{
    position:absolute;
    right:15px;
    top:50%;
    transform:translateY(-50%);
    font-size:18px;
    color:#555;
}

.header-icons{
    display:flex;
    gap:15px;
}

.icon{
    position:relative;
    font-size:20px;
    cursor:pointer;
}

.count{
    position:absolute;
    top:-8px;
    right:-10px;
    background:#ff3b3b;
    color:white;
    font-size:11px;
    padding:2px 6px;
    border-radius:50%;
}


.navbar{
    display:flex;
    justify-content:center;
    gap:40px;
    padding:12px 0;
    border-top:1px solid #eee;
    border-bottom:1px solid #eee;
    background-color:white;
}

.navbar a{
    text-decoration:none;
    color:#333;
    font-size:14px;
    font-weight:600;
    transition:0.3s;
}

.navbar a:hover{
    color:#ff9900;
}

/* mobile friendly*/

@media (max-width:768px){

    .menu-toggle{
        display:block;
    }

    .search-box{
        width:100%;
        margin:10px 0 0 0;
    }

    .navbar{
        display:none;
        flex-direction:column;
        align-items:flex-start;
        padding:15px 30px;
        gap:15px;
    }

    .navbar.active{
        display:flex;
    }

    .banner{
        height:250px;
    }

    .products-grid{
        grid-template-columns:repeat(2,1fr);
    }
}


.banner-container{
    padding:20px 30px;
}

.banner{
    position:relative;
    border-radius:18px;
    overflow:hidden;
    background:white;
    height: 420px;
}

.banner img{
    position:absolute;
    width:100%;
    height:100%;
    object-fit:cover;
    opacity:0;
    transition:opacity 0.8s ease-in-out;
}

.banner img.active{
    opacity:1;
}


.section-title{
    font-size:20px;
    font-weight:bold;
    padding:25px 30px 10px;
}

.categories{
    display:flex;
    overflow-x:auto;
    gap:25px;
    padding:20px 30px;
}

.categories div{
    text-align:center;
    min-width:90px;
}

.categories img{
    width:80px;
    height:80px;
    border-radius:35%;
    object-fit:cover;
    border: 3px solid rgb(207, 163, 133);
}

.products-grid{
    display:grid;
    grid-template-columns:repeat(auto-fill,minmax(200px,1fr));
    gap:20px;
    padding:20px 30px;
}

.product-card{
    background:white;
    border-radius:12px;
    overflow:hidden;
    box-shadow:0 3px 10px rgba(0,0,0,0.08);
}

.product-card img{
    width:100%;
    height:220px;
    object-fit:cover;
}

.product-info{
    padding:15px;
}

.price{
    color:#2e7d32;
    font-weight:bold;
}

.seller-card.active{
    border:2px solid #ff9900;
}

.nav-buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 10px;
}

.nav-buttons button {
    padding: 8px 15px;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    background: #1d54eb;
    color: white;
    font-weight: bold;
    font-size: 18px;
}
